.button-style {
    float: left;
   
   background-color: #47adcc;
    
    border: none;
    margin:5px;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    outline: inherit;
    min-width: 50px;
}