.servicesCards {
    max-width: 1395px;
    margin: 0px;
    padding-left: 7%;
    padding-right: 5%;
    padding-top: 2%;
}
.serviceCard {
    margin-bottom: 20px;
}

.cardsubtitle {
    font-size: 0.75rem;
}

.cardtext {
    font-size: 0.75rem;
}

.button {
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
}