@media all and (min-width: 480px) {

	.board {
    justify-content: center;
    padding: 66px;
		display: flex;

		border: 4px, solid white;

	}
  .Login {
  	display: flex;

  }


    .SignUp {
    display: flex;

  }
  .SignUp form {
    display: inline-grid;

  }
  .Login form {
  	 display: inline-grid;
	   justify-content: center;
    margin: 0 auto;
    max-width: 320px;

  }

  .Separator {
width: 200px;

  }
}