.day {
	max-width: 200px;
	max-height: 500px auto;
  display:flex;
  margin: 5px;
  padding: 5px;
  border: 2px solid #bbb;
  background-color: #f2f5f5;
  text-align: center;
  -webkit-box-shadow: -7px 42px 38px 15px rgba(0,0,0,0.52);
  -moz-box-shadow: -7px 42px 38px 15px rgba(0,0,0,0.52);
  box-shadow: -7px 42px 38px 15px rgba(0,0,0,0.52);
}


.day  {
  font-size: 0.8em;
  text-decoration: none;
  color: #333;
}

.props {
font-weight: bold
}
